{{ if or .Params.toc (and .Site.Params.toc (ne .Params.toc false)) -}}
{{- $subsObj := where .Site.Pages "Params.subs" "intersect" .Params.subs }}
<div class="post-toc" id="post-toc">
    {{- if gt (len $subsObj) 1 }}
    <h2 class="post-toc-title">相关文章</h2>
    <div class="post-toc-content">
        {{ range $subsObj }}
        <li>
            <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </div>
    {{- end }}
    <h2 class="post-toc-title">{{ T "toc" }}</h2>
    {{- $globalAutoCollapseToc := .Site.Params.autoCollapseToc | default false }}
    <div class="post-toc-content{{ if not (or .Params.autoCollapseToc (and $globalAutoCollapseToc (ne .Params.autoCollapseToc false))) }} always-active{{ end }}">
        {{.TableOfContents}}
    </div>
</div>
{{- end }}