.highlight {
    position: relative;
}

.highlight-link {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}

/*目录右移*/
.post .post-toc {
    margin-left: 885px;
}

/*整体宽度*/
.container {
    width: 900px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .prev,
.pagination .next,
.pagination .current-page {
    margin: 0 20px;
}

